.classpath
.idea/
.project
.settings.xml
scala_dependencies
lib_managed/
mmTasksPdfPrinter.iml
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
project/project.iml
target/
.scala_dependencies
printer.props
.target/
jiractl/node_modules/async
jiractl/node_modules/bcrypt
jiractl/node_modules/express
jiractl/node_modules/mongoose
jiractl/node_modules/jst
jiractl/node_modules/jiraconnector/node_modules/
jiractl-local/lib/node_modules
